@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

/* TELA DE LOGIN */

:root {
    --BODY-1:         #d8d7d7;
    --BODY-DEGRADE-1: #173F7F;
    --BODY-DEGRADE-2: #07213a;
    --LOGIN:          #ecebeb;
    --BUTTON:         #dc4a4a;
    --BUTTON-HOVER:   #a43232;
    --FONT-COLOR:     #333333;
    --FONT-COPYRIGHT: #9e9e9e;
    --FONT-BUTTON:    #fafafa;
    --FONT: 'Josefin Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, var(--BODY-1) 50%, var(--BODY-DEGRADE-2) 50%);
    background-size: 10%;
    font-family: var(--FONT);
    overflow: hidden;
}

.error-message {
    color: #dc4a4a;
    text-align: center;
    padding: -10px 0 0 0;
}

img {
    position: fixed;
    top: 7%;
    left: 47%;
    transform: translate(-20%, -20%);
    max-width: 100%;
    max-height: 100%;
  }

.area-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    z-index: 2;
    background-color: var(--LOGIN);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.324);
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 355px;
    height: 375px;
    padding: 35px;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input {
    background-color: var(--LOGIN);
    border: none;
    outline: none;
    margin: 10px 0px;
}

input::placeholder {
    color: var(--FONT-COPYRIGHT);
}

#user, #password {
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #9e9e9e;
}

#envio {
    background-color: var(--BUTTON);
    color: var(--FONT-BUTTON);
    font-size: 1em;

    border-radius: 5px;
    height: 30px;
    width: 60%;

    margin: auto;
    cursor: pointer;
}

#envio:hover {
    background-color: var(--BUTTON-HOVER);
}

h1 {
    font-size: 1.8em;
    margin-bottom: 0;
}

p {
    color: var(--FONT-COPYRIGHT);
    font-weight: bold;
    font-size: 1em;
    margin-top: 30px;
}

#label-senha {
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

#label-usuario {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 0 5px 0;
}