@charset "UTF-8";

body {
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100vh;
}

.borda {
    border-right: 1px solid rgba(255, 255, 255, 0.445);
}

.button-color {
    background-color: #07213a;
}

.button-color:hover {
    background-color: #0e3357;
}

.nav-link {
    margin-right: 15px;
}

.nav-color {
    background-color: #07213a;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.466);
}

.nav-link {
    color: #F8F9FA;
}

.nav-link:hover {
    color: #c6c7c9;
}

.hover-option:hover {
    background-color: #092744;
}

/* .footer-color {
    background-color: #09335a;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.384);
} */

.copy {
    margin-left: 16rem;
    margin-right: 1rem;
}


::-webkit-scrollbar {
    width: 0;
}