@charset "UTF-8";

body {
    background-color: #e4e3e3;
    margin: 0;
    padding: 0;
}

.font-card {
    font-size: 1.3em;
}

.font-list {
    font-size: 1em;
}

.sidebar {
    height: 100vh;
}

.button-color {
    background-color: #07213a;
}

.button-color:hover {
    background-color: #0e3357;
}

.nav-color {
    background-color: #07213a;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.466);
}

.nav-link {
    color: #F8F9FA;
}

.hover-option:hover {
    background-color: #092744;
}

::-webkit-scrollbar {
    width: 0;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / .5);
}

dialog {
    background-image: linear-gradient(#E1D9E5, #BCB5BF);

    border: none;
    box-shadow: 0 0 1em rgb( 0 0 0 / .3);

    padding-left: 5rem;
    padding-right: 5rem;
}